@page
@model SchoolManagement.Pages.Teacher.ApprovedForExaminationModel
@{
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <!-- 1st container fluid start-->
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Teacher Approved For Examination</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-page="ApprovedForExamination">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                

                    <form method="post">
                        <div class="card-body card card-outline card-info pl-1">
                            <div class="card-header">
                               
                            </div>
                            <table id="example1" class="table table-bordered table-striped">
                                <!--For drop menu-->
                                <thead>
                                    <tr>
                                        <th scope="col">Teacher Name</th>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Exam Hall Number</th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.approvedExamDatalist.Count() > 0)
                                    {
                                        foreach (var item in Model.approvedExamDatalist)
                                        {
                                            <tr>
                                                <td>@item.NameDropdown</td>
                                                <td>@item.SubjectDropdown</td>
                                                <td>@item.ExamHallNumber</td>
                                           
                                            </tr>
                                        }
                                    }
                                    else
                                    {

                                        <tr>No data found</tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    